<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sell a House</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">About Us</a></li>
      <li><a href="#">Properties</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <% if user_signed_in? %>
          
        <li><a href="/"><span>Welcome <%= current_user.first_name %></span></a></li>
        <li>
          <a href="/users/sign_out"  data-method="delete"><span class="glyphicon glyphicon-log-out"></span> 
            Logout</a>
        </li>
      <% else %>
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>

    </ul>
  </div>
</nav>